template 00 , recieve name as query param

--
$def with (name)

$if name:
    I just wanted to say <em>hello</em> to $name.
$else:
    <em>Hello</em>, world!
<br>
http://webpy.org/docs/0.3/tutorial
--

template 01 , reading DB

--
$def with (todos)
<ul>
$for todo in todos:
    <li id="t$todo.id">$todo.title</li>
</ul>
--
post , add value
--

$def with (todos)
<ul>
$for todo in todos:
    <li id="t$todo.idtodozero">$todo.todozero_text</li>
</ul>

<form method="post" action="add">
<p><input type="text" name="todozero_text" /> <input type="submit" value="Add" /></p>
</form>